.dropdown
  width 100%
  font-size 16px
  color rgb(1, 1, 1)
  font-family: 'Open Sans', sans-serif
  cursor pointer
  touch-action manipulation

  &__select-wrapper
    position relative
    height 50px

  &__fallback-select
    width 100%
    height 100%
    outline none
    opacity 0

  &__select
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    display flex
    align-items center
    border 1px solid rgb(163, 166, 175)
    border-radius 3px

  &__input
    padding 0 40px 0 15px
    border none
    outline none
    height 100%
    flex-grow 1
    font-size inherit
    cursor pointer
    text-transform capitalize

  &__placeholder
    transition all 0.3s
    padding: 0 10px
    height 100%
    left 5px
    top 0
    display flex
    align-items center
    position absolute
    pointer-events none

    &.--forceOpen
      top -9px
      font-size 13px
      height 15px
      background-color #fff

    &.--hidden
      opacity 0

  &__expander
    display flex
    align-items center
    width 30px
    height 100%
    position absolute
    right 0
    top 0
    pointer-events none

  &__trangle  
    width 0 
    height 0
    border-left 7px solid transparent
    border-right 7px solid transparent
    border-top 7px solid rgb(163, 166, 175)
    transition: transform 0.3s

    &.--isOpen
      transform: rotate(180deg)

  &__list
    position absolute
    left 0
    right 0
    top 50px
    display flex
    border 1px solid rgb(163, 166, 175)
    border-top 0
    border-radius 0 0 3px 3px
    margin-bottom -2px
    flex-direction column

    &.--openToTop
      top auto
      bottom 50px
      border 1px solid rgb(163, 166, 175)
      border-bottom 0
      border-radius 3px 3px 0 0
    
  &__item
    padding 15px
    cursor pointer

    & span
      text-transform capitalize
      color rgb(244, 155, 70)
      text-decoration underline

    &:hover
      background-color: rgb(210, 210, 210)
